{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{asset ('assets/css/calendar.css') }}">
			<link rel="stylesheet" href="{{asset ('assets/css/style.css') }}">
            
		{% endblock %}

{% block body %}

<div id='top'>

  Locales:
  <select id='locale-selector'></select>
</div>

<div id='calendar'></div>
{% endblock %}

{% block javascripts %}
    

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script rel="stylesheet" type="text/javascript" src="{{asset ('assets/js/script.js') }}"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{asset ('assets/js/app.js') }}"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
  <script src='fullcalendar/core/index.global.js'></script>
  <script src='fullcalendar/core/locales/fr.global.js'></script>
	

    
	<script>   


document.addEventListener('DOMContentLoaded', function() {
  var initialLocaleCode = 'fr';
  var localeSelectorEl = document.getElementById('locale-selector');
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    buttonText: {
        prev: 'Précédent',
        next: 'Suivant',
        today: 'Aujourd\'hui',
        year: 'Année',
        month: 'Mois',
        week: 'Semaine',
        day: 'Jour',
        list: 'Planning',
    },
    headerToolbar: {
      left: 'prev,next today',
      center: 'title,addEventButton',
      right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
    },
    customButtons: {
      addEventButton: {
        text: 'Ajouter un événement',
        click: function() {
          var dateStr = prompt('Entrez une date au format YYYY-MM-DD.');
          var time = prompt("Saisissez l'heure de l'événement")
          var date = new Date(dateStr + 'T' + time); // will be in local time

          if (!isNaN(date.valueOf())) { // valid?
            calendar.addEvent({
              title: prompt("Saisissez le nom de l'événement"),
              start: date,
              allDay: false
            });
            alert('Super, maintenant mettez à jour votre BDD');
          } else {
            alert('Date invalide');
          }
        }
      }
    },
    eventSources: [

    // your event source
    {
      url: '/myfeed.php', // use the `url` property
      color: 'yellow',    // an option!
      textColor: 'black'  // an option!
    }

    // any other sources...

  ],


  
    weekText: 'Sem.',
    weekTextLong: 'Semaine',
    allDayText: 'Toute la journée',
    moreLinkText: 'en plus',
    noEventsText: 'Aucun évènement à afficher',
    locale: 'fr',
    local: 'fr', 
    buttonIcons: false, // show the prev/next text
    weekNumbers: true,
    navLinks: true, // can click day/week names to navigate views
    editable: true,
    dayMaxEvents: true, // allow "more" link when too many events
    events: 'https://fullcalendar.io/api/demo-feeds/events.json?overload-day'
  });

  calendar.render();

  // build the locale selector's options
  calendar.getAvailableLocaleCodes().forEach(function(localeCode) {
    var optionEl = document.createElement('option');
    optionEl.value = localeCode;
    optionEl.selected = localeCode == initialLocaleCode;
    optionEl.innerText = localeCode;
    localeSelectorEl.appendChild(optionEl);
  });

  // when the selected option changes, dynamically change the calendar option
  localeSelectorEl.addEventListener('change', function() {
    if (this.value) {
      calendar.setOption('local', 'fr');
    }
  });

});
</script>
{% endblock %}
