{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <div class="mcw">
        <h1>Inscription</h1>
        {% for message in app.flashes('success') %}
            <div class="alert  alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert  alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(registrationForm) }}
        <div class="c">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            <div class="form-error">
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
            <div class="form-error">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            {{ form_label(registrationForm.nom) }}
            {{ form_widget(registrationForm.nom) }}
            <div class="form-error">
                {{ form_errors(registrationForm.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom) }}
                <div class="form-error">
                    {{ form_errors(registrationForm.prenom) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.telephone) }}
                {{ form_widget(registrationForm.telephone) }}
                <div class="form-error">
                    {{ form_errors(registrationForm.telephone) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.emploi) }}
                {{ form_widget(registrationForm.emploi) }}
                <div class="form-error">
                    {{ form_errors(registrationForm.emploi) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.sexe) }}
                {{ form_widget(registrationForm.sexe) }}
                <div class="form-error">
                    {{ form_errors(registrationForm.sexe) }}
                </div>
            </div>
            <div class="form-group">
{#                {{ form_label(registrationForm.roles) }}#}
                {{ form_widget(registrationForm.roles) }}
                <div class="form-error">
                    {{ form_errors(registrationForm.roles) }}
                </div>
            </div>
            {{ form_row(registrationForm.agreeTerms) }}

            <div class="form-group">
                {{ form_row(registrationForm.submit) }}
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
    {% endblock %}