{% extends 'base.html.twig' %}
{% block title %}Modification de mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mcw">
			<h1 class="mt-4">Modifier votre mot de passe</h1>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('warning') %}
				<div class="alert alert-warning mt-4">
					{{ message }}
				</div>
			{% endfor %}


			{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.old_password) }}
				{{ form_widget(form.old_password) }}
				<div class="form-error">
					{{ form_errors(form.old_password) }}
				</div>
			</div>

			<div class="form-group mt-4">
				{# {{ form_label(form.new_password) }} #}
				{{ form_widget(form.new_password) }}
				<div class="form-error">
					{{ form_errors(form.new_password) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_row(form.submit) }}
			</div>

			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
