{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">


		<div class="cercle">
			{% if absents != 0 and presents!=0 %}
				<pie-chart data="{{absents}};{{presents}}" gap="0.01" labels="Absence : {{ absents }}; Présence : {{ presents }}"></pie-chart>
			{% else %}
				<code>
					Veuillez selectionner un cours contenant contenant des présences
				</code>
			{% endif %}
		</div>
		<div
			class="container">
			<!--main content wrapper-->
			<div
				class="mcw">
				<!--main content view-->

				<div class="container">
					<div id="filters">
						{{ form_start(form) }}
						<table class="table table-stripped">
							<thead>
								<tr>
									<th>Cours</th>
									<th>Sélection</th>
								</tr>
							</thead>
							<tbody>
								{% for cours in form.cours %}
									<tr>
										<td>{{ cours.vars.label }}</td>
										<td>{{ form_widget(cours) }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{{ form_widget(form.submit) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>

		{#{{form(form)}}#}

	</div>
{% endblock %}
