{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="mcw">
            <h1>Modifier un créneau</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>

            {% endfor %}
            {{ form_start(form) }}


            <div class="form-group">
                {{ form_label(form.date_debut_cours) }}
                {{ form_widget(form.date_debut_cours) }}
                <div class="form-error">
                    {{ form_errors(form.date_debut_cours) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.date_fin_cours) }}
                {{ form_widget(form.date_fin_cours) }}
                <div class="form-error">
                    {{ form_errors(form.date_fin_cours) }}
                </div>
            </div>

            

            {# <div class="form-group">
                {{ form_label(form.debut_periode_cours) }}
                {{ form_widget(form.debut_periode_cours) }}
                <div class="form-error">
                    {{ form_errors(form.debut_periode_cours) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.fin_periode_cours) }}
                {{ form_widget(form.fin_periode_cours) }}
                <div class="form-error">
                    {{ form_errors(form.fin_periode_cours) }}
                </div>
            </div> #}

            <div class="form-group">
                {{ form_label(form.appartientcours) }}
                {{ form_widget(form.appartientcours) }}
                <div class="form-error">
                    {{ form_errors(form.appartientcours) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.all_day) }}
                {{ form_widget(form.all_day) }}
                <div class="form-error">
                    {{ form_errors(form.all_day) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
            

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
