{% extends 'base.html.twig' %}

{% block title %}Creneaux{% endblock %}

{% block body %}
	<div class="container">
		<div class="mcw">
			<h1>Les créneaux de cours</h1>

			<a href="{{ path('new_creneau') }}" id="abtn" class="btn btn-primary">Insérer un nouveau créneau</a>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="alert alert-success mt-4">{{ message }}</div>
			{% endfor %}

			<div id="creneaux">
				<table class="table table-hover mt-4">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Jour</th>
							<th scope="col">Heure de début du cours</th>
							<th scope="col">Heure de fin du cours</th>
							<th scope="col">Appartient au cours</th>
							<th scope="col">Edition</th>
							<th scope="col">Suppression</th>
						</tr>
					</thead>
					<tbody id="creneaux-container" data-index="0">
						{% for creneau in creneaux[:20] %}
							<tr class="table-light mt-4">
								<th scope="row">{{ creneau.id }}</th>
								<td>{{ creneau.datedebutcours|date('l j F')}}</td>
								<td>{{ creneau.datedebutcours|date('H:i:s') }}</td>
								<td>{{ creneau.datefincours|date('H:i:s') }}</td>
								{% if creneau.appartientcours is not null %}
									<td>{{ creneau.appartientcours.libeleecour }}</td>
								{% else %}
									<td>Cours non attribué</td>
								{% endif %}
								<td>
									<a href="{{ path('edit_creneau', {id: creneau.id}) }}" class="btn btn-warning">Modifier</a>
								</td>
								<td>
									<a href="{{ path('delete_creneau', {id: creneau.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% if creneaux|length > 20 %}
				<button id="load-more" class="btn btn-primary mt-4">Load More</button>
			{% endif %}

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="{{asset ('assets/js/searchCreneau.js') }}"></script>
<script>
	$(document).ready(function() {
    // Événement "click" sur le bouton "load-more"
    $('#load-more').on('click', function() {
        var $container = $('#creneaux-container');
        var index = parseInt($container.attr('data-index'));
        var nextIndex = index + 20;
        $container.attr('data-index', nextIndex);

        // Vérifie si les créneaux ont déjà été générés
        if (nextIndex <= {{ creneaux|length }}) {
            // Ajout des créneaux suivants
            {% for creneau in creneaux[20:] %}
                var rowHtml = '<tr class="table-light mt-4">' +
                    '<th scope="row">{{ creneau.id }}</th>' +
                    '<td>{{ creneau.datedebutcours|date('l j F') }}</td>' +
                    '<td>{{ creneau.datedebutcours|date('H:i:s') }}</td>' +
                    '<td>{{ creneau.datefincours|date('H:i:s') }}</td>';

                {% if creneau.appartientcours is not null %}
                    rowHtml += '<td>{{ creneau.appartientcours.libeleecour }}</td>';
                {% else %}
                    rowHtml += '<td>Cours non attribué</td>';
                {% endif %}

                rowHtml += '<td>' +
                    '<a href="{{ path('edit_creneau', {id: creneau.id}) }}" class="btn btn-warning">Modifier</a>' +
                    '</td>' +
                    '<td>' +
                    '<a href="{{ path('delete_creneau', {id: creneau.id}) }}" class="btn btn-danger">Supprimer</a>' +
                    '</td>' +
                    '</tr>';
                $container.append(rowHtml);
            {% endfor %}

            // Masquage du bouton "load-more" si tous les créneaux ont été chargés
            if (nextIndex >= {{ creneaux|length }}) {
                $('#load-more').hide();
            }
        }
    });
});
</script>

{% endblock %}
