{% extends 'base.html.twig' %}

{% block title %}Creneaux{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mcw">
			<h1>Les créneaux de cours</h1>

			<a href="{{ path('new_creneau') }}" id="abtn" class="btn btn-primary mb-4">Insérer un nouveau créneau</a>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="alert alert-success mt-4">{{ message }}</div>
			{% endfor %}

			<div id="creneaux">
				<table id="myTable"class="table table-hover mt-4">
					<thead>
						<tr>
							<th scope="col">Jour</th>
							<th scope="col">Heure de début du cours</th>
							<th scope="col">Heure de fin du cours</th>
							<th scope="col">Appartient au cours</th>
							<th scope="col">Edition</th>
							<th scope="col">Suppression</th>
						</tr>
					</thead>
					<tbody id="creneaux-container" data-index="0">
						{% for creneau in creneaux%}
							<tr class="table-light mt-4">
								<td>{{ creneau.datedebutcours|format_date(locale='fr',pattern="EEEE dd MMMM YYYY")}}
								<td>{{ creneau.datedebutcours|date('H:i:s') }}</td>
								<td>{{ creneau.datefincours|date('H:i:s') }}</td>
								{% if creneau.appartientcours is not null %}
									<td>{{ creneau.appartientcours.libeleecour }}</td>
								{% else %}
									<td>Cours non attribué</td>
								{% endif %}
								<td>
									<a href="{{ path('edit_creneau', {id: creneau.id}) }}" class="btn btn-warning">Modifier</a>
								</td>
								<td>
									<a href="{{ path('delete_creneau', {id: creneau.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>



{% endblock %}

{% block javascripts
 %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script rel="stylesheet" type="text/javascript" src="{{asset ('assets/js/script.js') }}"></script>
 
 	<script>
var table = new DataTable('#myTable', {
	"sDom": '<"top"f>rt<"bottom"pli>',
    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json',
		search: '', searchPlaceholder: "Rechercher..",
    },
	
});
</script>
 {% endblock %}


